*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("bg.jpg");
    background-size: cover;
    font-family: Roboto,arial;
    background-repeat: no-repeat;
    }

.container{
    width: 80%;
    margin: auto;
    height: 100px;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border-bottom: 3px solid rgba(255,255,255,0.08);
}

header nav ul{
    display: flex;
    list-style: none;
    column-gap: 34px;
}

header nav ul a{
    text-decoration: none;
    color: white;
    font-size: 19px;
    transition: all 0.15s ease;
}

header nav ul a:hover{
    color: #0ba2c0;
}

header nav .menu .button{
    text-decoration: none;
    color: #0ba2c0;
    border: none;
    padding: 14px;
    border-radius: 56px;
    background-color:rgba(255,255,255,0.08);
    font-size: 20px;
    transition: all 0.15s ease;
}

header nav .menu .button:hover{
   color: white;
   background-color: #0ba2c0;
   border-color: #0ba2c0;
}

.menu{
    display: flex;
    align-items: center;
    column-gap: 36px;
}

header nav .logo a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.content{
    height: calc(100vh-100px);
    padding-top: 150px;
}

.content h1{
    color: white;
    font-size: 60px;
    text-align: center;
}

.content p{
    color: white;
    font-size: 24px;
    text-align: center;
    margin-top: 36px;
}

.content .semi-buttons{
    display: flex;
    justify-content: center;
    margin-top: 72px;
    column-gap: 30px;
}

.content .semi-buttons a{
    background-color: rgba(215, 211, 211, 0.489);
    color: rgb(4, 4, 4);
    text-decoration: none;
    border: none;
    border-radius: 56px;
    padding: 16px 30px;
    font-size: 44px;
    transition: all 0.15s ease;
    }

.content .semi-buttons a:hover{
        background-color: white;
    }




@media (max-width: 798px){
    .container{
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }

    .content .semi-buttons{
        flex-direction: column;
        row-gap: 30px;
        text-align: center;
    }

    .content h1{
        font-size: 45px;
    }

    .content p{
        font-size: 18px;
    }

    body{
        background-repeat: no-repeat;
        background-size: cover;
    }
}